.welcomer{
    width: 100%;
    height: 95vh;
    background-image: url(img/banner3.jpg);
    background-size: cover;
    background-position: center;
}
.banner-contect{
    
}

.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    margin: 25px 25px 25px;
}
.title_service h2{
   text-align: center;
   text-decoration: underline overline dotted black;

}

.servicios img{
    width: 100%;
    height: 180px;

}
.servicios h3{
    font-size: 15px;
    margin: 10px 0;
}
.servicios a{
    padding: 10px 0;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    color: black;    
    transition: all .3s ease-in-out;
    
}
.servicios a:hover{
    text-decoration: underline;
    color: cadetblue;
}