/*--------------------- Srcoll Personalizado ---------------------*/
body::-webkit-scrollbar{
    width: 10px;
   
}
body::-webkit-scrollbar-thumb{
    background:rgba(0, 22, 40, .6);
    border-radius: 6px;
}
/*---------------------  Estilos Base ---------------------*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;  
}
body{
    background: white;
}
section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 3rem;
    background: cadetblue;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}
.btn:hover{
    transform: scale(1.1);
}
/*---------------------  Estilos Barra Color ---------------------*/
.scrolling-active{
    background-color: white;
    box-shadow: 0 3px 1rem rgb(0,0,0,.1);
}
.scrolling-active .nav-links a{
    color: #313131;
}
.scrolling-active .logo h4{
    color: #313131;
}
/*--------------------- Animados ---------------------*/
.animado{
    opacity: 0;
    transition: all 0.5s;
}
.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0);
    }

}
/*---------------------  precargado ---------------------*/
#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#carga{
    border-top-color: cadetblue;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}
 
@keyframes girar {
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); }
}


@media screen and (max-width: 1920px){

  /*--------------------------------------- Header/nav ---------------------------------*/
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}
.logo a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;

}
.logo h4{
    margin-top: 20px;
}

.logo img{
    width: 50px;
    height: 50px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.burger{
    display: none;
    cursor: pointer;
    
}
.nav-links a:hover{
    color: cadetblue;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
    
}

 /*----------------------------------Video Banner-----------------------------------------*/  
  .banner{
      height: 100vh;
      width: 100%;
      
  }
 .banner video{
     width: 100%;  
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     object-fit: cover;
 }


 /*----------------------------------Bienvenidos-----------------------------------------*/  
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/inicio_fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -120px;

}
.inicio .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform:translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
    
}

.inicio .content h3{
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
}

.inicio .content h3 span{
    color: cadetblue;
    text-transform:uppercase;
}

.inicio .content p{
    font-size: 1.2rem;
    color: #666;
    padding: 1rem 0;
}




     /*--------------------------------------- servicios ---------------------------------*/
     .info_servicios{
        text-align: center;
        padding: 40px;
        margin-bottom: -290px;
        font-size: 25px;
     }  
     .contenedor p {
        padding: 15px;
        font-size: 15px;
     
     }  
     .contenedor h3{
        color: black;
        font-size: 25px;
       
     }
     .info a{
        text-decoration: none;
        color: cadetblue;
        padding: 5px 20px;
        border: 1px solid cadetblue;
        text-transform: uppercase;
        transition: all .5s ease-in-out;
        font-size: 15px;
    }

    .info a:hover{
        background-color: cadetblue;
        color: #fff;
    }
     .contenedor{
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto auto;
       
     }
     .contenedor img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-color: black;
     }
      /*---------------------------------Bruchure------------------------------------------------*/
    .banner_brochure{
        justify-items: center;
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        transition: all .0.5s ease-in-out;
        background-image: url('img/imagen1.jpg');
        animation: banner 20s infinite linear;
        margin-bottom: 20px;   
    }
    .banner-contect{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color:seashell;
        background-color: rgba(0, 22, 40, .6);
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .banner-contect h1{
        margin-top: 50px;
        margin-bottom: 30px;
        
    }        
    .banner-contect a {
        margin-left: 600px;
        width: 200px;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
        color: seashell;
        padding: 9px 20px;
        border: 1px solid #fff;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        
    }

    .banner-contect a:hover{
        background-color: #fff;
        color: #333;
    }
     @keyframes banner {
         0%{
            background-image: url('img/banner5.png');  
         }
         25%{
            background-image: url('img/banner5.png'),  
         }
         26%{
            background-image: url('img/banner6.jpg');  
         }
         50%{
            background-image: url('img/banner6.jpg');  
         }
         51%{
            background-image: url('img/banner7.jpeg');  
         }
         75%{
            background-image: url('img/banner7.jpeg');  
         }
         76%{
            background-image: url('img/banner3.jpg');  
         }
         100%{
            background-image: url('img/banner3.jpg');  
         }
         
     }

     /*---------------------------------Proyectos------------------------------------------------*/
     .contenedor_proyectos{
         margin-top: -250px;
         margin-bottom: -250px;
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         height: 100vh;
     }
     .contenedor_proyectos .figure{
         margin: 10px;
         position: relative;
         height: 250px;
         width: 350px;
         overflow: hidden;
         border-radius: 6px;
         box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.50);
         cursor: pointer;
     }
     .contenedor_proyectos .figure img{
         width: 100%;
         height: 100%;
         transition: all 500ms ease-out;
     }
     .contenedor_proyectos .figure .capas{
         position: absolute;
         top: 0;
         width: 100%;
         height: 100%;
         background: rgba(11, 103, 123, 0.6);
         opacity: 0;
         transition: all 500ms ease-out;
         opacity: 0;
         visibility: hidden;
         text-align: center;
     }
     .contenedor_proyectos .figure:hover > .capas{
         opacity: 1;
         visibility: visible;

     }
     .contenedor_proyectos .figure:hover > .capas h3{
         margin-top: 70px;
         margin-bottom: 15px;

     }
     .contenedor_proyectos .figure:hover > img{
         transform: scale(1.3);
     }


     .contenedor_proyectos .figure .capas h3{
         color: #fff;
         font-weight: 400;
         margin-bottom: 120px;
         transition: all 500ms ease-out;
         margin-top: 30px;
     }
     .contenedor_proyectos .figure .capas p{
         color: #fff;
         font-size: 15px;
         line-height: 1.5;
         width: 100%;
         max-width: 220px;
         margin: auto;
     }

      
 /*---------------------------------Proyectos------------------------------------------------
     
 .slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
    
  }
  .slideshow-container h2{
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
  
  }
  .mySlides img{
      height: 500px;
      
  }
  
  /* Next & previous buttons 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text 
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: #333;
    opacity: 0.5;
  }
  
  /* Number text (1/3 etc) 
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators 
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /*.active, .dot:hover {
    background-color: #717171;

  
  /* Fading animation 
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }*/
/*---------------------------------proveedores------------------------------------------------*/
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
    z-index: -1;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(226, 226, 226, 0.726) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px; 
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 10s linear infinite;
            animation: scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 300px;
  }
  /*---------------------------------Contactenos-----------------------------------------------*/

  .contactenos{
      width: 100%;
      padding: 20px;
      margin: 0;
      margin-top: 120px ;
      height: 300px;
      background-color: rgb(158, 188, 189);
      color:#fff
  }
  .contenedor_contactenos{
      margin-top: 30PX;
      text-align: center;
  }
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: none;
  color: #000;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 30px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

  /*---------------------------------Noticias-----------------------------------------------*/

  .title{
      text-align: center;
      font-size: 40px;
      margin-top: 100px;
      font-weight: 100;
      margin-bottom: 30px; 
  }

  .noticias{
      width: 100%;
      max-width: 1200px;
      height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content:center; 
      margin: auto;
     
  }
  .noticias .card{
      width: 330px;
      height: 480px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s;
  }

  .noticias .card:hover{
      transform: translatey(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

  .noticias .card img{
      width: 330px;
      height: 220px;
  }

  .noticias .card h4{
      font-weight: 600;
  }

  .noticias .card p{
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
  }

  .noticias .card a{
      font-weight: 500;
      text-decoration: none;
      color: #3498db;
  }

 /*---------------------------------footer-----------------------------------------------*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(/img/background-footer.svg);
    background-size: cover;
    /*background-color: cadetblue;
    -webkit-mask-image:url(/img/background-footer.svg);
    mask-image: url(/img/background-footer.svg);
    -webkit-mask-size: cover;
    mask-size: cover;*/

}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
   
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:#7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color:#343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color:#7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 25px;
    
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
    
    @media screen and (max-width: 1024px){
        #roksearch_results{
            display:none;
        }
        
        /*--------------------------------------- Header ---------------------------------*/
        .nav-links{
            width: 60%;
        }
    }
    @media screen and (max-width:841px){

        /*--------------------- Header/nav ---------------------*/      
        
        .logo h4{
            color: black;
        }
        nav{
            background-color: white
        }
        .nav-links{
            position: absolute;
            right: 0px;
            height: 92vh;
            top:8vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        
        .nav-links li{
            opacity: 0;
            
        }
        .nav-links a{
            color: black;
        }
        .burger{
            display: block;
            
        }
        .nav-active{
            transform: translateX(0%);
        }
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);

        }    
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
    
      /*----------------------------------Banner-----------------------------------------*/
      .inicio{
        flex-flow: column-reverse;
        margin-bottom: 15;  
    }

    .inicio .image img{
        width: 100%;
    }

    .inicio .content h3{
        font-size: 2.4rem;
    }

    .inicio .content p{
        font-size: 1.2rem;
    }
     /*----------------------------------welcome-----------------------------------------*/
    
    
     /*----------------------------------Servicios-----------------------------------------*/
     .banner_brochure{
         margin-top: 250px;
         height: 480px;
     } 
     
     .banner-contect{
         align-items: center;
     }
       .contenedor .info{
           grid-column: 1 / -1;
           
       }
       .banner-contect a {
           margin-left: -10px;
       }
       .contenedor_proyectos{
           margin-top: 80px;
           margin-bottom: 450px;
       }
        /*----------------------------------proyectos-----------------------------------------*/

        .contenedor_proyectos{
            margin-bottom: 550px;
        }
     /*----------------------------------proveedores-----------------------------------------*/

        .slider{
            width: 100%;
        }
    /*----------------------------------Contactenos-----------------------------------------*/

    footer{
        margin-top: 1200px;
    }

    }

}
    
        
        
 
    


    

      
    

